<div class="loginPopup">
  <div class="center">
    <div class="top">
      <div class="left">
        <h1>Pardon <span>Maman</span></h1>
      </div>
      <div class="right">
        <h2>Concours Photo</h2>
        <p><b>Date, réglement, lots à gagner</b><br/>
        Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.</p>
      </div>
    </div>
    <div class="bottom">
      <div class="left">
        <button>
          <img src="{{ asset('assets/images/facebook-logo-white.png') }}" alt="facebook logo">
          se connecter
        </button>
      </div>
      <div class="right">
        <h3>Connectez-vous <span>Pour participer au concours</span></h3>
      </div>
    </div>
  </div>
</div>