<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}{% endblock %}
      {% block fonts %}{% endblock %}
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    {# {% include 'login/login.html.twig' %} #}
    <div class="globalWrapper {% block pageID %}{% endblock %}">
      <header>
        <h1>Pardon <span>Maman</span></h1>
        <div>
          <h2>Concours photo</h2>
          <p>Partagez une photo de votre tatouage jusqu'au 19/11/2016 et votez pour vos contestants préférés pour gagner <i>cras gravida, diam sit amet rhoncus</i></p>
        </div>
      </header>
      <nav>
        <ul>
          {% if is_granted('ROLE_ADMIN') %}
            <li><a href="/app_dev.php/admin/contest">Liste des concours</a></li>
            <li><a href="/app_dev.php/admin/contest/new">Nouveau concours</a></li>
          {% else %}
            <li>Gallerie</li>
            <li>Participer</li>
            <li><a href="https://twitter.com/PardonMaman"><img src="{{ asset('assets/images/twitter-icon.png') }}" alt="Twitter"></a></li>
            <li><a href="#"><img src="{{ asset('assets/images/facebook-icon.jpg') }}" alt="Facebook"></a></li>
          {% endif %}
        </ul>
      </nav>
      {% block body %}{% endblock %}
    </div>
    <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
