{% extends 'base.html.twig' %}

{% block title %}Concours Photos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Roboto" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <h1>Pardon Maman</h1>
        <h2>Concours photo</h2>
        <p>Partagez une photo de votre choix jusqu'au 19/11/2016.</p>
        <nav>
            <ul>
                <li>Gallerie</li>
                <li>Participer</li>
                <li>Icon 1</li>
                <li>Icon 2</li>
            </ul>
        </nav>
    </header>
    <div id="gallery">

    </div>
{% endblock %}

