{% extends 'base.html.twig' %}

{% block title %}Concours Photos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}
{% block body %}
    <div id="gallery">

        {% for photo in photos %}
        <article>
            <div>
                <h2>Morgan Leroux</h2>
                <button> <a href="{{ path('app_frontoffice_contest_vote', {'picture': photo.id}) }}">J'aime</a></button>
                <button>Partager</button>
            </div>
            <img src="{{ photo.representation }}" alt="pas moi">
        </article>
        {% endfor %}
    </div>
{% endblock %}

