{% extends 'base.html.twig' %}

{% block title %}Concours Photos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}
{% block body %}
    <div id="gallery">

    </div>
{% endblock %}

