{% extends 'base.html.twig' %}

{% block title %}Concours Photos{% endblock %}

{% block pageID %}home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.css') }}">
{% endblock %}

{% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Roboto" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/popup.js') }}"></script>
{% endblock %}

{% block body %}
    <header>
        <h1>Pardon Maman</h1>
        <div>
            <h2>Concours photo</h2>
            <p>Partagez une photo de votre tatouage jusqu'au 19/11/2016 et votez pour vos contestants préférés pour gagner <i>cras gravida, diam sit amet rhoncus</i></p>
        </div>
    </header>
    <nav>
        <ul>
            <li>Gallerie</li>
            <li>Participer</li>
            <li>Icon 1</li>
            <li>Icon 2</li>
        </ul>
    </nav>
    <main id="show">
        <header onclick="showPopup(this)">
            <img src="{{ asset('assets/img/morgan.jpg') }}" alt="">
        </header>
        <section>
            <h2>Morgan Leroux</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eligendi ex explicabo ipsam iste labore quas quos sed! Deleniti ipsum iusto modi molestiae nisi perspiciatis, quo quos reprehenderit rerum tempore?</p>
            <button>like</button>
            <button>partage</button>
        </section>
        <section class="comment"></section>
    </main>
{% endblock %}

