{% extends 'base.html.twig' %}

{% block title %}Participation au Concours{% endblock %}

{% block pageID %}upload{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}

{% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Roboto" rel="stylesheet">
{% endblock %}

{% block javascripts %}
   {# <script src="{{ asset('assets/js/home.js') }}"></script> #}
{% endblock %}

{% block body %}
  <main> 
    <!-- <h3 class="dividTitle"><span>Participer au concours</span></h3> -->
    <section class="methods">
        <article>
          <img src="{{ asset('assets/images/import-from-computer.png') }}" alt="Importer depuis ordinateur">
          <p>Importer l'image depuis votre ordinateur</p>
        </article>
        <article> 
          <img src="{{ asset('assets/images/import-from-facebook.png') }}" alt="Importer depuis facebook">
          <p>Choisir l'image depuis votre compte</p>
        </article>
    </section>

    <h3 class="dividTitle"><span>Participation au concours</span></h3>
    <section class="outro">
      <p>Rappel cadeaux concours &amp; règles du jeu</p>
      <p>Nulla dui purus, eleifend vel, consequat non, dictum porta, nulla. <strong>Aenean eu est. Etiam imperdiet turpis. Praesent nec augue.</strong> Curabitur ligula quam, rutrum id, tempor sed, consequat ac, dui. </p>
    </section>

    <footer>
      <ul>
        <li>
          <a href="#" title="#">Réglement du concours</a>
        </li>
        <li>
          <a href="#" title="#">Politique de confidentialité</a>
        </li>
      </ul>
    </footer>
  </main>
{% endblock %}

