body{
  background:#fff;
  font:400 1em/1.4 'Roboto', Arial;
  overflow-x:hidden;
}
.globalWrapper{
  margin:5%;
}
*{
  margin:0;
  padding:0;
}
.call2acc{
  display:table;
  border:1px solid #000;
  line-height:1;
  padding:10px 30px;
  font: 0.7em/1 'Oswald', sans-serif;
  letter-spacing:2px;
  text-transform:uppercase;
  color:#000;
  text-decoration: none;
  &:hover{
    background-color:#000;
    color:#fff;
  }
}

footer{
  margin:80px 0 40px;
  font:1em/1.2 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing:1px;
  ul{
    list-style:none;
    li{
      display:inline-block;
      margin-right:15px;
      a{
        text-decoration:none;
        color:#000;
        border-bottom:1px solid #000;
      }
    }
  }
}
.dividTitle{
  font: 1.5em/1 'Oswald', sans-serif;
  text-transform:uppercase;
  margin:20px 0;
  position:relative;
  span{
    background-color:#fff;
    padding-right:5px;
  }
  &:after{
    content:"";
    position:absolute;
    width:100%;
    height:2px;
    background-color:#000;
    top:13px;
    left:0px;
    z-index:-1;
  }
}
.loginPopup{
  position:fixed;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
  background-color:#fff;
  z-index:1;
  .center{
  	position:absolute;
  	top:50%;
  	transform:translateY(-50%);
  	margin:0 50px;
  	.top, .bottom{
  		display: table;
  		table-layout: fixed;
  		width:100%;
  	}
  	.left, .right{
  		display: table-cell;
  	}
  	.top{
  		.left, .right{
  			vertical-align:top;
  		}
  		.left{
  	    h1 {
  				background-color:#000;
  				display:table;
          font-family: 'Oswald', sans-serif;
          font-size: 6.7em;
          line-height: 0.95em;
          text-transform: uppercase;
          color:#fff;
          width:calc(100% - 35px);
          padding:10px;
          position:relative;
          letter-spacing:0.02em;
          &:before{
          	content:"";
          	position:absolute;
          	width:100%;
          	height:50vh;
          	background:#000;
          	left:0px;
          	top:-50vh;
          }
          span{
            letter-spacing:0.07em;
          }
  	    }
  		}
  		.right{
        position:relative;
  	    h2 {
          font:3em/1 'Oswald', sans-serif;
          text-transform: uppercase;
          position:relative;
          display:table;
          background-color:#fff;
  	    }
  	    h2:after {
          content:'';
          display:block;
          width:100%;
          height:10px;
          z-index:-1;
          position:absolute;
          right:-100%;
          top:calc(50% - 5px);
          background-color:#000;
  	    }
        p{
          line-height:2;
          position:absolute;
          bottom:0px;
        }
  		}
  	}
  	.bottom{
  		margin-top:30px;
  		.left, .right{
  			vertical-align:middle;
  		}
  		.left{
  			button{
  				background-color:#000;
  				color:#fff;
  				border:none;
  				display:block;
  				padding:0 30px;
  				box-sizing:border-box;
  				width:calc(100% - 15px);
          font:2em/2.5 'Oswald', sans-serif;
          text-transform:uppercase;
          img{
            margin-right:20px;
            height:30px;
            display:inline-block;
          }
  			}
  		}
  		.right{
  			h3{
          font:3.4em/1 'Oswald', sans-serif;
          text-transform:uppercase;
          span{
          	display:block;
          	font-size:0.5em;
          	letter-spacing:0.05em;
          }
  			}
  		}
  	}
  }
}