section#gallery {

    width: 100%;
    display: inline-block;

    article {
        position: relative;
        width: 30%;
        display: inline-block;
        margin: 20px 1.5%;
        overflow: hidden;


        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        &:hover {
            div {
                opacity: 1;
            }
        }

        div {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            transition: opacity 0.3s;

            h2 {
                max-width: 98%;
                margin: 15% 8% 5%;
                color: white;
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
                font-size: 3.5em;
                font-weight: bold;
            }

        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            min-width: 100%;
            max-width: 120%;
            min-height: 100%;
            background-color: black;
        }

    }
}