.home{
  #gallery{
  	#bestRatedCarousel{
      .owl-item{
        position:relative;
        background-color:#000;
        img{
          height:100%;
          width:100%;
          object-fit: cover;
          display:block;
          opacity:0.3;
        }
        .info{
          position:absolute;
          height:100%;
          width:50%;
          top:0px;
          left:0px;
          box-sizing:border-box;
          color:#fff;
          z-index:1;
          background: -moz-linear-gradient(left,  rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 98%);
          background: -webkit-linear-gradient(left,  rgba(0,0,0,0.5) 80%,rgba(0,0,0,0) 98%);
          background: linear-gradient(to right,  rgba(0,0,0,0.5) 80%,rgba(0,0,0,0) 98%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 ); 
          .container{
            position:relative;
            padding:10%;
            top:50%;
            transform:translateY(-50%);
            box-sizing:border-box;
            h3{
              font: 2em/1 'Oswald', sans-serif;
              text-transform:uppercase;
            }
            p{
              margin-top:10px;
              margin-bottom:40px;
              text-indent:50px;
              position:relative;
              &:before{
                content:"";
                width:40px;
                height:2px;
                top:10px;
                left:0px;
                background-color:#fff;
                position:absolute;
              }
            }
            button{
              border:1px solid #fff;
              background-color:#000;
              color:#fff;
              padding:10px 40px;
              text-transform:uppercase;
              font: 1em/1 'Oswald', sans-serif;
              &:first-of-type{
                margin-right:20px;
              }
              &:hover{
                cursor:pointer;
              }
            }
          }
        }
      }
  	}
  }
}