nav {
    clear:both;
    width: 100%;
    margin: 70px 0;
    text-align:right;
    ul li {
        font-family: 'Oswald', sans-serif;
        font-size: 2em;
        display: inline-block;
        text-decoration: none;
        list-style: none;
        margin-left:20px;
    }
}